 body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937 ;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.header-item{
    color: white;
    width: 350px;
    height: 200px;
    margin-top: 75px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-wrap: wrap;
}
.header-item .text {
    font-size: 48px;
    font-weight: bolder;
}
.logo-image{
    max-width: 100px;
    max-height: 100px;
}

.right-links {
    display: flex;
    gap: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
      text-decoration: none;
      color: white;
  }